html, body{
    height: 100%;
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: #0054B3;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1,p{
    margin: 0;
}
.global_container{
    width: 90%;
    margin: 5rem auto;
    height: inherit;
    display: flex;
    
}
section{
    height: 100%;
    padding: 2rem 0;
}
/* input[type= "submit"]{
    font-size: 1.6rem;
} */
.btn{
    font-size: 1.6rem;
}
.form-section:first-of-type{
    flex-basis: 50%;
    background-color:#0073FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-section h1{
    margin-bottom: 2rem;
}
.form-section:first-of-type p:first-of-type{
    margin-bottom: .5rem;
}
.form-section:first-of-type p:last-of-type{
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.form-section:last-of-type{
    flex-basis: 50%;
    background-color: #0073FA;
    padding: 2rem;
}
.userlist_section{
    background-color:#0073FA;
    width: inherit;
    margin: 0 auto;
    padding: 0 5rem;
}
.userlist_section h1{
    margin: 2rem 0;
}


/* Bootstrap breakpoints */
@media screen and (max-width: 991px){
    .global_container{
        flex-direction: column;
        width: 95%;
    }
    /* .userlist_section ul{
        margin: 1rem;
    } */
}
@media screen and (max-width: 767px){
    .global_container{
        flex-direction: column;
        width: 98%;
    }
}