<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apitry</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="global_container">
        <section class="form-section">
            <h1>Inscription</h1>
            <p>Pour bénéficier de nos services,</p>
            <p>veuillez remplir le formulaire ci-contre</p>
            <p>Vous avez déjà un compte ?</p>
            <input class="btn btn-success" type="submit" value="Se connecter">
        </section>
        <section class="form-section">
            <form method="POST" action="">
                <div class="row">
                    <div class="form-group col">
                        <label for="name">Nom</label>
                        <input class="form-control" type="text" name="name" id="name" required>
                    </div>
                    <div class="form-group col">
                        <label for="forename">Prénom</label>
                        <input class="form-control" type="text" name="forename" id="forename" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Pseudo</label>
                    <input class="form-control" type="text" name="username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="city">Ville</label>
                    <input class="form-control" type="text" name="city" id="city">
                </div>
                <div class="form-group">
                    <label for="zipcode">Code Postal</label>
                    <input class="form-control" type="text" name="zipcode" id="zipcode">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="confirmemail">Confirmer votre email</label>
                    <input class="form-control" type="email" name="confirmemail" id="confirmemail" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Mot de passe</label>
                    <input class="form-control" type="password" name="pwd" id="pwd" required>
                </div>
                <div class="form-group">
                    <label for="confirmpwd">Confirmer votre mot de passe</label>
                    <input class="form-control" type="password" name="confirmpwd" id="confirmpwd" required>
                </div> 
                <input class="form-control btn btn-success" type="submit" name="submitbutton">
            </form>
        </section>
        
    </div>
    
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
    <script src="main.js"></script>
</body>
</html>